/*
   -------------------------------------------------------------------------------------------
   AdPlayer v0.5.5 (dev.111811)
   Author: christopher.sancho@adtech.com, felix.ritter@adtech.com
   -------------------------------------------------------------------------------------------
  
   This file is part of AdPlayer v0.5.0.dev.100511.
   AdPlayer is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   AdPlayer is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with AdPlayer.  If not, see <http://www.gnu.org/licenses/>.
  
  --------------------------------------------------------------------------------------------
*/
body,html{font-family:'Arial';}.privacyButton .icon{width:15px;height:20px;background:url('oba_icon_15x20.jpg') no-repeat top left;}.privacyPanel{font-family:Calibri,Ariel Bold,Sans-Serif,Geneva;font-size:12px;background:#fff;border:1px solid #ccc;padding:5px 5px 0 5px;width:250px;border-radius:0 0 5px 0;-moz-border-radius:0 0 5px 0;box-shadow:2px 2px 2px #333;-moz-box-shadow:2px 2px 2px #333;-webkit-box-shadow:2px 2px 2px #333;text-align:left;min-height:25px;}.privacyPanel div.header{text-align:left;font-size:12px;padding:5px;border-bottom:1px solid #ccc;}.privacyPanel div.footer{text-align:left;font-size:10px;padding:5px;border-top:1px solid #ccc;margin:0;height:auto;}.privacyPanel div.list{margin:10px 5px;}.privacyPanel div.list div.item{margin-bottom:10px;}.privacyPanel div.list div.item{margin:0 0 8px 0;padding:0;}.privacyPanel div.list div.item h4 span{font-weight:bold!important;}.privacyPanel div.list div.item p{border:none;margin:0 0 0 5px;padding:0;}.privacyPanel div.close{cursor:pointer;position:absolute;top:-1px;right:-1px;font-size:10px;border:none;background:#ccc;padding:5px;border-radius:0 5px 0 5px;-moz-border-radius:0 5px 0 5px;}.privacyPanel p{text-align:left;font-size:12px;font-weight:normal;padding:5px;border-top:1px solid #ccc;}