.adp-top-right {
  top: 0;
  right: 0;
}

.adp-top-left {
  top: 0;
  left: 0;
}

.adp-wrapper {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  position: absolute;
}

.adp-admarker:hover .adp-admarker-text {
  display: block;
}

.adp-admarker-icon {
  background: url('oba_icon.png') no-repeat top left #ccc;
  width: 19px;
  height: 15px;
  
  position: absolute;
  cursor: pointer;
}

.adp-admarker-text {
  background: #ccc;
  font-size: 10px;
  line-height: 15px;
  padding: 0 5px;
  
  position: absolute;
  display: none;
  cursor: pointer;
}
.adp-admarker-text.adp-top-right { right: 15px; }
.adp-admarker-text.adp-top-left { left: 15px; }

.adp-panel {
  background: #fff;
  border: 1px solid #ccc;
  padding: 18px 5px 5px 5px;
  margin: 0 0;
  text-align: left;
  min-height: 25px;
  width: 250px;
  
  position: absolute;
}

.adp-panel-close {
  background: #ccc;
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 10px;
  padding: 0 5px;
  line-height: 15px;
  
  position: absolute;
  cursor: pointer;
  top: -1px;
  right: -1px;
}

.adp-panel-header {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 11px;
  text-align: justify;
  
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.adp-panel-publisherinfo {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 11px;
  text-align: justify;
  
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.adp-panel-info {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  
  padding: 5px 0;
}

.adp-panel-footer {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 10px;
  text-align: justify;
  
  padding-top: 5px;
  border-top: 1px solid #ccc;
}

.adp-panel a:link {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  text-decoration: underline;
}

