body.adp-popup {
  margin:0;
  padding:10px;
  background-color: #FFFFFF;
  color: #000000;
}

.adp-top-right {
  top: 0;
  right: 0;
}

.adp-top-left {
  top: 0;
  left: 0;
}

.adp-bottom-right {
  bottom: 0;
  right: 0;
}

.adp-bottom-left {
  bottom: 0;
  left: 0;
}

.adp-wrapper {
  position: absolute;
}

.adp-popup .adp-wrapper {
  position: relative;
}

div.adp-wrapper div.adp-panel {
  background: #fff;
  color: #000000;
  border: 1px solid #ccc;
  margin: 0;
  padding: 13px 8px 3px 8px;
  min-height: 25px;
  width: 310px;
  position: absolute;
}

.adp-popup div.adp-wrapper div.adp-panel {
  border: 0;
  width: 100%;
  max-width: 380px;
  position: relative;
  padding: 0;
}

div.adp-wrapper div.adp-panel,
div.adp-wrapper div.adp-admarker {
  font-family: Arial, Verdana, Tahoma, sans-serif;
  font-size: 11px;
  line-height: 1.3;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #000;
}

div.adp-wrapper div.adp-panel .adp-panel-header,
div.adp-wrapper div.adp-panel .adp-panel-info,
div.adp-wrapper div.adp-panel .adp-panel-publisherinfo,
div.adp-wrapper div.adp-panel .adp-panel-footer {
  margin: 0;
  padding: 5px 0;
}

.adp-admarker:hover .adp-admarker-text,
.adp-admarker-hover .adp-admarker-text {
  display: block;
  white-space: nowrap;
}

.adp-admarker-icon {
  background: url('oba_icon.png') no-repeat top left #ccc;
  width: 19px;
  height: 15px;
  position: absolute;
  cursor: pointer;
}

div.adp-wrapper div.adp-admarker .adp-admarker-text,
div.adp-wrapper div.adp-panel .adp-panel-close {
  background: #ccc;
  font-size: 10px;
  line-height: 15px;
  padding: 0 5px;
  position: absolute;
  cursor: pointer;
}

body.adp-popup div.adp-wrapper div.adp-panel .adp-panel-close {
	position: fixed;
	z-index: 99;
}

.adp-admarker-text {
  display: none;
}

.adp-top-right .adp-admarker-text, .adp-bottom-right .adp-admarker-text { right: 15px; }
.adp-top-left .adp-admarker-text, .adp-bottom-left .adp-admarker-text { left: 15px; }

.adp-panel-close {
  top: 0px;
  right: 0px;
}

.adp-panel-header,
.adp-panel-publisherinfo {
  border-bottom: 1px solid #ccc;
}

.adp-info-header,
.adp-header-strong {
  font-weight: bold;
}

div.adp-wrapper div.adp-panel .adp-panel-footer {
  border-top: 1px solid #ccc;
}

div.adp-wrapper div.adp-panel a:link,
div.adp-wrapper div.adp-panel a:active,
div.adp-wrapper div.adp-panel a:hover,
div.adp-wrapper div.adp-panel a:visited {
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  color: #0088CC;
  text-decoration: underline;
}
div.adp-wrapper div.adp-panel a:hover {
  color: #005580;
}